$primary-color: beige; 
$secondary-color: rgb(255, 171, 132);
$font-family: 'Times New Roman', Times, serif ;
$font-sizes: 1.5rem;

  
.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar {
   background-color:  $secondary-color;
   padding: .5rem 4rem !important;
}
.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: black !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    border-radius: 2rem;
}
.nav-item :hover {
    background-color: $primary-color;
    color: black !important;
}
.nav-logo {
    width: 100px;
}

@media only screen and (min-width: 320px) {
    nav.navbar .container {
      width: 100%;
      line-height:0;
    }

  }
  
@media only screen and (min-width: 320px) {
    nav.navbar .navbar-header {
      width: 100%;
    }
    nav.navbar::after {
      width: 100%;
    }
    nav.navbar.active::after {
      width: calc(100% - 170px);
    }
    nav.navbar .search-area {
      font-size: 0.75em;
    }
  }