@import "footer";
@import "header";

.carousel-item img {
    width: 100vw; /*viewport width*/
    max-height: 400px;
    object-fit: cover;
}

section.newsletter .form-group {
    position: relative;
}

section.newsletter input {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    border: 1px solid #111;
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

section.newsletter .submit {
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    background: #111;
    border: 1px solid #111;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
}


@media only screen and (max-width: 767px)  {
section.newsletter input {
    font-size: 0.95em;
    width: 100%;
}
section.newsletter .submit {
    position: static;
    width: 100%;
    margin-top: 10px;
}
}